<button (click)="panster.zoomIn(25)">zoom in</button>

<button (click)="panster.zoomOut(25)">zoom out</button>

<button (click)="panster.centerContentTop()">centerTop</button>

<button (click)="panster.centerContent()">center</button>

<ngx-panster #panster>
  <div
    style="
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 16px;
      height: 100%;
      width: 100%;
    "
  >
    <div style="background-color: cadetblue; height: 240px"></div>
    <div style="background-color: cadetblue; height: 240px"></div>
    <div style="background-color: cadetblue; height: 240px"></div>
    <div style="background-color: cadetblue; height: 240px"></div>
    <div style="background-color: cadetblue; height: 240px"></div>
  </div>
</ngx-panster>
