<button (click)="panster.zoomIn(25)">zoom in</button>

<button (click)="panster.zoomOut(25)">zoom out</button>

<button (click)="panster.centerContentTop()">centerTop</button>

<button (click)="panster.centerContent()">center</button>

{{ panster.zoomPercentage }}

<ngx-panster #panster minZoom="35" maxZoom="200">
  <div
    style="
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      width: 500px;
    "
  >
    <div style="background-color: cadetblue; height: 240px"></div>
    <div style="background-color: cadetblue; height: 240px"></div>
  </div>
</ngx-panster>
